.form-section {
  z-index: 100;
  width: 100%;
  text-align: center;
  background-color: #27275f;
  padding-top: 10px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.gallery-item {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px -1px rgba(0, 0, 0, 0.1);
  flex-basis: calc((100% - 15px) / 5);
}

.img {
  width: 100%;
  height: 200px;
}

.info {
  display: flex;
  padding: 5px;
  text-align: center;
}
.info-item:not(:last-child) {
  margin-right: 10px;
}

.info-item {
  font-size: 10px;
  color: #000;
  margin: 0;
}
